# Domain excluding 'https://' and 'daily.co' e.g. 'somedomain'
DAILY_DOMAIN=j-msmex

# Obtained from https://dashboard.daily.co/developers
DAILY_API_KEY=68948e910f95941f8397821f06c20b9b155f0ffcd5533df4c7a66110188ee47b

# Daily REST API endpoint
DAILY_REST_DOMAIN=https://api.daily.co/v1

